@import "../../sass/_layout.scss";
@import "../../sass/font.scss";


// ==========service banner=======
.service-banner {
	height: 70vh;
	max-width: 100vw;
}

.service-banner-main{
	background: linear-gradient(to bottom, #2a2a29ad, #2a2a2971), url(../../assets/slider2.jpg);
	background-size: cover;
	background-position: center;
	margin-top: -14vh;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: flex-end;
}

.service-main-content{
	width: 80vw;
	margin: auto;
	text-align: left;
}

.top-banner-line{
	background-color: $primaryColor;
	border: 0px;
	width: 200px;
	height: 5px;
	align-self: flex-start;
}

.banner-header{
	color: $primaryColor;
}

//=========service-content==========
.service-content{
	min-height: 80vh;
	background-color: $primaryColor;
}

.service-intro-top{
	padding-top: 7vh;
}

.service-intro-bottom{
	width: 75vw;
	margin: auto;
	min-height: 70vh;
	text-align: left;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
	
.service-bottom-unit{
	width: 33%;
	padding: 10px;
	height: 40vh;
}

.service-bottom-unit:nth-child(2){
	border-top: none;
	border-bottom: none;
	border-left: solid;
	border-right: solid;
	border-color: grey;
	border-width: 1px;
	padding: 10px;
}

@media screen and (max-width: 1000px) {
	.service-content{
		text-align: left;
		height: max-content;
	}
	.service-header{
		width: 90vw;
		margin: auto;
		text-align: left;
	}
	.service-intro-bottom{
		width: 90vw;
		padding: 0px;
		margin: auto;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.service-bottom-unit{
		width: 100%;
		height: max-content;
		border: none !important;
	}
	.home-service-unit-content{
		font-size: 1em;
	}
	.p-card-link{
		font-size: 1em;
	}
}

// =================service with card===============
.service-with-card{
	min-height: 80vh;
	background-color: $darkColor;
}

.service-width-card-content{
	width: 75vw;
	margin: auto;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	position: relative;
	bottom: 25vh;
}

.service-with-card-top{
	display: flex;
	min-height: 65vh;
}

.service-with-card-top-left{
	background-color: $primaryColor;
	color: black;
	display: flex;
	flex-direction: column;
	text-align: left;
	width: 39%;
	padding: 0px 20px;
}

.service-with-card-unit-header{
	font-size: 1.7em;
	color: rgba(42,42,41,255);
}

.service-with-card-unit-content{
	font-size: 1.2em;
	color: #2a2a29;
}

.banner-content-links{
	color: #2a2a29;
}

.service-with-card-top-right{
	background-image: url(../../assets/slider1.jpg);
	background-size: cover;
	background-position: center;
	width: 59%;
}

.service-with-card-bottom{
	display: flex;
	justify-content: space-between;
	width: 100%;
	text-align: left;
}
	
.service-with-card-bottom-left{
	color: white;
	width: 49%;
}

.service-with-card-bottom-right{
	font-size: 1.2em;
	color: white;
	width: 49%;
}


@media screen and (max-width: 1000px) {
	.service-with-card{
		padding: 0px;
		margin: 0px;
	}
	.service-width-card-content{
		width: 100%;
		padding: 0px;
		margin: 0px;
	}
	.service-with-card-top{
		height: auto;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		position: static;
	}
	.service-with-card-top-left{
		width: 100%;
		padding-top: 20px !important;
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	
	.service-with-card-unit-header{
		font-size: 1.2em;
		width: 90%;
		margin: auto;
		padding-top: 20px !important;
	}
	
	.service-with-card-unit-content{
		font-size: 1em;
		padding-top: 20px !important;
		color: #2a2a29;
		width: 90%;
		margin: auto;
	}
	
	.banner-content-links{
		width: 90%;
		margin: auto;
		color: #2a2a29;
		padding-top: 20px !important;
	}

	.banner-link{
		font-size: 1em;
	}

	.service-with-card-top-right{
		width: 100%;
		height: 50vh;
	}

	.service-with-card-bottom{
		display: flex;
		flex-direction: column;
		min-height: 50vh;
	}

	.service-with-card-bottom-left{
		width: 90%;
		margin: auto;
	}

	.service-with-card-bottom-right{
		width: 90%;
		margin: auto;
	}
}
