@import "../../sass/_layout.scss";
@import "../../sass/font.scss";

.navbar{
	height: 14vh;
	background-color: transparent;
	position: relative;
	z-index: 5;
}

.nav-logo-phone{
	display: none;
}

.navbar-content{
	width: 92vw;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
}

.nav-logo{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	width: 28vw;
}

.nav-middle{
	display: flex;
	height: 100%;
	width: 40vw;
	justify-content: space-between;
	align-items: center;
}

.navlink-items{
	text-decoration: none;
	font-family: $bodyFont;
	font-weight: 600;
	text-transform: uppercase;
	color: white;
}

.navlink-items:hover,
.navlink-items:focus,
.navlink-items:active{
	color: $primaryColor;
}

.nav-btn{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 28vw;
	height: 100%;
}

.hamburger{
	display: none;
}

@media screen and (max-width: 1000px){
	.navbar{
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	.navbar-content{
		display: none;
	}
	
	.navbar-contentphone{
		display: flex;
		flex-direction: column;
		background-color: $darkColor;
		color: $primaryColor;
		width: 75vw;
		height: 100vh;
		position: fixed;
		margin-top: 86vh;
		padding-left: 10px;
		transition: 0.3s;
	}
	
	.nav-logo{
		display: none;
	}

	.nav-middle{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin: 10vh 5px auto 0px;
		width: 90%;
	}
	.nav-btn{
		margin-top: 20px;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		width: 90%;
	}

	.hamburger{
		display: inline;
		margin-right: 7.5vw;
		background-color: $primaryColor;
		padding: 5px;
		border-radius: 2px;
		cursor: pointer;
		position: fixed;
		z-index: 10;
	}
	.bar{
		display: block;
		width: 30px;
		height: 3px;
		margin: 5px auto;
		background-color: white;
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}

	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}

	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}

}