@import "./sass/_font.scss";
@import "./sass/layout";

.App {
	text-align: center;
}

button{
	width: 133px;
	padding: 13px;
	text-transform: uppercase;
}

h1{
	font-size: 4.5em;
}

h2{
	font-size: 2.5em;
}

h1, h2, h3, h4, h5, h6{
	font-family: $headerFont;
}

p{
	font-family: $bodyFont;
}

a{
	text-decoration: none;
}

.full-horizontal-line{
	width: 100%;
	height: 1px;
	border: 0em;
	background-color: grey;
}

.content-links{
	max-width: 500px;
	min-width: 300px;
	display: flex;
	justify-content: left;
	align-items: center;
}

.card-link{
	color: $darkColor;
}

.p-card-link{
	margin-left: 20px;
}